body {
    font-family: lato;
    font-size: 16px;
}
#view-container {
    min-height: 85%;
}
#navbar {
    border-radius: 2px;
}
#navbar .navbar-brand {
    color: #dcdcdc;
    font-size: 24px;
}
#navbar li a {
    font-size: 16px;
}
.page {
    display:none;
}
.cancel-bid {
    cursor: pointer;
    color: #8f8f8f;
}
.cancel-bid:hover {
    color: #8f8f8f;
}
.bet-placements {
    display: none;
}
.pane {
}
footer {
    font-size: 10px;
    margin: 20px;
    color: #8f8f8f;
}
.currency {
    text-align: right;
}
#profile-status, #create-game-status {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}
.place-bet {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #fdb913;
    width: 100%;
    box-shadow: 10px 10px 25px -13px rgba(0,0,0,0.75);
}
.game-status.closed {
    color: red;
}
.game-status.open {
    color: green;
}
hr.divider {
    border-top: 3px solid gray;
    padding-top: 10px;
}
#open-bids-row {
    padding-top: 40px;
}
h4 {
    font-size: 24px;
    color: #676767;
}
#open-bids-row th, #bets-row th {
    color: #696969;
}
.logo {
    background-image: url(img/nba-logos-transparent-small.png);
    height: 35px;
    width: 33px;
    background-position: -15px -15px;
    background-size: 250px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
#results-table td, #games-table td {
    font-size: 16px;
}
.btn-bet {
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #fdb913;
    color: black;
}
#profile-withdraw {
    box-shadow: 10px 10px 25px -13px rgba(0,0,0,0.75);
    margin-left: 5px;
}
.game-score {
    color: blue;
}
.bets-cell {
    text-align: right;
}
