#view-container {
    min-height: 85%;
}
.page {
    display:none;
}
.cancel-bid {
    cursor: pointer;
}
.bet-placements {
    display: none;
}
.pane {
    max-height: 400px;
    overflow-y: scroll;
}
footer {
    font-size: 10px;
    margin: 20px;
}
