#view-container {
    min-height: 85%;
}
#navbar {
    border-radius: 2px;
}
#navbar .navbar-brand {
    color: #dcdcdc;
}
.page {
    display:none;
}
.cancel-bid {
    cursor: pointer;
}
.bet-placements {
    display: none;
}
.pane {
    max-height: 400px;
    overflow-y: scroll;
}
footer {
    font-size: 10px;
    margin: 20px;
}
.currency {
    text-align: right;
}
#profile-status {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}
